[Unit]
Description=Mercury Chat Server

[Service]
ExecStart=/usr/local/bin/mercury-server
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
